<!-- app/views/news/index.html.erb -->
<div class="container">
  <div class="container_box">
  <%= render 'tops/menu' %>
  <h1>ニュース一覧</h1>

  <div class="news-list">
    <% @news.each do |news_item| %>
      <%= link_to news_path(news_item), class: 'news-item-link' do %>
        <div class="news-item">
          <h2><%= news_item.title %></h2>
          <p class="date"><%= news_item.created_at.strftime('%Y年%m月%d日') %></p>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>