<div class="container">
  <div class="container_box">
    <%= render 'tops/menu' %>
      <h1 class="text-center">アクセス方法</h1>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <p class="text-center">
            当塾はテキストテキストテキストテキストテキストテキスト<br>
            テキストテキストテキストテキストテキストテキストテキスト。
          </p>
          <!-- マップを埋め込むこともできます -->
          <div class="map-container text-center">
            <iframe src="https://www.google.com/maps/embed?..." width="600" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </div>
      </div>
  </div>
</div>