body {
  font-family: Arial, sans-serif;
}



/* 時間割 */
.timetable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 100px;

}
.timetable th,
.timetable td {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #ffffff;
}
.timetable th {
  background-color: #e9e9e9;
  font-weight: bold;
}
.timetable td {
  background-color: #f9f9f9;
}
.timetable tr:nth-child(even) td {
  background-color: #f1e6ff;
}
.highlight {
  font-weight: bold; /* テキストを太字にする */
  font-size: 24px; /* フォントサイズを24ピクセルに設定 */
  /* 他のスタイルを追加してカスタマイズ（色、マージンなど）*/
}

.timetable_box {
  margin-top: 100px;
}

.notification-box {
  border-left: 4px solid #3f72af; /* Accented border on the left */
  background-color: #dbe2ef; /* Light background color */
  padding: 16px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}



/* 注意書き */
.notification-title {
  margin-top: 0;
  color: #112d4e; /* Dark text color for heading */
  font-size: 18px;
  margin-bottom: 10px;
}

.notification-list {
  list-style: inside square; /* Stylish bullet points */
  padding-left: 0;
  margin-top: 0;
  color: #3f72af; /* Text color for list items */
}

.notification-list li {
  margin-bottom: 8px;
  line-height: 1.5; /* Spacious line height for readability */
}



#hybrid_online {
  padding-top: 70px; /* 上に余白を追加 */
  margin-top: -70px; /* 余白分だけ要素を上に移動 */
}

#self_study_room {
  padding-top: 70px; /* 上に余白を追加 */
  margin-top: -70px; /* 余白分だけ要素を上に移動 */
}

/* レスポンシブデザイン */
.timetable_box {
  overflow-x: auto; /* 横スクロールを有効化 */
  -webkit-overflow-scrolling: touch; /* iOSデバイスのスムーズなスクロールのため */
}

/* レスポンシブデザイン */
@media only screen and (max-width: 768px) {
  .highlight {
    font-size: 20px; /* フォントサイズを小さくする */
  }

  .timetable th, .timetable td {
    padding: 5px; /* パディングを小さくする */
    font-size: 12px; /* フォントサイズを小さくする */
  }
  
  .notification-title, .notification-list {
    font-size: 16px; /* 通知エリアのテキストサイズを調整 */
  }

  .notification-box {
    padding: 10px; /* 通知ボックスのパディングを調整 */
  }
  
  /* タイムテーブルボックス及び横スクロール対策 */
  .timetable_box, #hybrid_online, #self_study_room {
    margin-top: 50px; /* マージントップを小さくする */
    padding-top: 50px; /* パディングトップを調整 */
    overflow-x: auto; /* 横スクロールを有効化 */
    -webkit-overflow-scrolling: touch; /* iOSデバイスのスムーズなスクロールのため */
  }
  
  body {
    padding: 0 10px; /* コンテンツ全体に左右の余白を追加 */
  }
}
.scrollable-table {
  overflow-x: auto;
}

/* デフォルトではメッセージを隠す */
.scroll-message {
  display: none;
}

/* メディアクエリを使用して小さなデバイスでのみ表示する */
@media (max-width: 767px) { /* 通常、スマートフォン向けのビューポート幅は767px以下とされる */
  .scroll-message {
    display: block;
    font-size: 0.85em; /* メッセージのフォントサイズを調整 */
    margin-bottom: 5px; /* メッセージとテーブルの間の余白を設定 */
    text-align: center; /* メッセージを中央揃えに */
  }
}
