body {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

.container {
  margin-top: 100px;
  width: 90%;
  margin: 0 auto;
  padding: 5em 0;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
}

.btn-primary {
  background-color: #967BB6;
  color: white;
  padding: .375rem .75rem;
  border-radius: .25rem;
  text-decoration: none;
}

.staff-card {
  margin-top: 10px;
  margin-bottom: 2em;
  background: #fff;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.1);
}

.staff-card h2 {
  font-size: 24px;
  margin-bottom: .5em;
}

.staff-card p {
  margin-bottom: .5em;
}

.staff-image-size {
  margin-bottom: 20px;
  max-width: 200px; /* 画像の最大幅を200pxに設定 */
  height: auto; /* 高さは自動調整 */
}
/* 各フォーム部品をモダンでシンプルなスタイルに */
.staff_box {
  max-width: 500px;
  margin: 0 100px;
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.staff_box form {
  margin: 20px 0;
}

.staff_box label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.staff_box input[type="text"],
.staff_box textarea,
.staff_box input[type="file"] {
  width: calc(100% - 20px); /* 20px is accounted for padding */
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.staff_box input[type="submit"] {
  padding: 10px 15px;
  color: white;
  background-color: #5cb85c; /* Bootstrap 'success' color */
  border-color: #4cae4c;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

.staff_box input[type="submit"]:hover {
  background-color: #449d44;
}

#error_explanation {
  padding: 15px;
  margin-bottom: 20px;
  background: #f2dede;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  color: #a94442;
}

#error_explanation h2 {
  margin-top: 0;
  color: #a94442;
}

#error_explanation ul {
  list-style: none;
  padding: 0;
}

#error_explanation ul li {
  margin: 5px 0;
}

/* 戻るリンクをボタン風に */
.back_btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 15px;
  margin-top: 20px;
  color: #337ab7;
  border: 1px solid #337ab7;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
}

a:hover {
  color: white;
  background-color: #337ab7;
}

.container h1 {
  text-align: center; /* 中央揃え */
  color: #333; /* ダークグレーの色 */
  margin-top: 20px; /* 上のスペース */
  margin-bottom: 20px; /* 下のスペース */
  font-size: 2rem; /* フォントサイズ */
  font-weight: 400; /* 標準的なフォントウェイト */
  line-height: 1.5; /* 行の高さ */
}

/* 編集ボタンのスタイル */
.edit-button-class {
  display: inline-block;
  padding: 8px 16px;
  margin-right: 8px; /* ボタン間の余白 */
  background-color: #967BB6; /* ブートストラップのプライマリーカラー */
  color: white;
  text-decoration: none;
  border: none; /* ボーダーを排除 */
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 軽微なボックスシャドウを追加 */
}

.edit-button-class:hover {
  background-color: #856A9D; /* ホバー時のカラー変更 */
  transform: translateY(-2px); /* ホバー時に少し浮き上がらせる */
}

/* 削除ボタンのスタイル */
.delete-button-class {
  display: inline-block;
  padding: 8px 16px;
  background-color: #009823; /* ブートストラップのデンジャーカラー */
  color: white;
  text-decoration: none;
  border: none; /* ボーダーを排除 */
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 軽微なボックスシャドウを追加 */
}

.delete-button-class:hover {
  background-color: #00891D; /* ホバー時のカラー変更 */
  transform: translateY(-2px); /* ホバー時に少し浮き上がらせる */
}

.staff_container {
  display: flex;
}